* {
  box-sizing: border-box;
}
p {
 font-family: 'National Park ';
 font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 21px;
 text-align: center;
 color: #FFFFFF;
}
@font-face {
  font-family: "National Park";
  src: url("/fonts/NationalPark.ttf") format("truetype");
}

body {
  position: relative;
  font-family: 'National Park';
  width: 1728px;
  height: 1450px;
  background: #8AB07D;
}

.heading {
  position: absolute;
  width: 1429px;
  height: 177px;
  left: 43px;
  top: 10px;
  font-family: 'National Park';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  color: #FFFFFF; 
}
.lower_heading {
  position: absolute;
  width: 745px;
  height: 63px;
  left: 53px;
  top: 100px;
  font-family: 'Kulim Park';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #FFFFFF;
}
.nyclogo {
  position: absolute;
  width: 260px;
  height: 240px;
  left: 1450px;
  top: 10px;  
}

.currentweather{
    position: absolute;
    width: 1728px;
    height: 295px;
    top: 250px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 151px;
    text-align: center;
    color: #FFFFFF;
  }
  .forecast{
    position: absolute;
    width: 1728px;
    height: 151px;
    top: 400px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 151px;
    text-align: center;
    color: #FFFFFF;

  }
  .sunny{
    position: absolute;
    width: 1728px;
    height: 151px;
    top: 800px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 151px;
    text-align: center;
    color: #FFFFFF;
  }
  .weatherrainbow{
    position: absolute;
    width: 510px;
    height: 255px;
    left: 609px;
    top: 570px;
  }

  .rainyweather{
    position: absolute;
    width: 260px;
    height: 280px;
    left: 717.43px;
    top: 570px;
  }
  .littlerainy{
    position: absolute;
    width: 203px;
    height: 213px;
    left: 1500px;
    top: 1250px;
  }
  .littlehat{
    position: absolute;
    width: 200x;
    height: 185px;
    left: 1500px;
    top: 1250px;
  }

  .littlesnow{
    position: absolute;
    width: 185px;
    height: 250px;
    left: 1500px;
    top: 1250px;
  }

  .littlerainbow{
    position: absolute;
    width: 265px;
    height: 130px;
    left: 1500px;
    top: 1250px;
  }
  .coldweather{
    position: absolute;
    width: 320px;
    height: 293px;
    left: 705px;
    top: 550px;
  }
  .snowyweather{
    position: absolute;
    width: 240px;
    height: 320px;
    left: 739px;
    top: 550px;
  }
  .cold{
    position: absolute;
    width: 1728px;
    height: 151px;
    left: 0px;
    top: 850px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 151px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
  }

  .snowy{
    position: absolute;
    width: 1728px;
    height: 151px;
    left: 0px;
    top: 850px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 151px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
  }
  
  .rainy{
    position: absolute;
    width: 1728px;
    height: 151px;
    left: 0px;
    top: 840px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 151px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
  }

  .popup{
    width: 517px;
    height: 380px;
    background-color: #E66F51;
    border: 1px solid #E66F51;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    left:600px;
    top: 620px;
    display: none;
  }
  .popup1{
    width: 525px;
    height: 380px;
    background-color: #F29B32;
    border: 1px solid #F29B32;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    left:600px;
    top: 620px;
    display: none;
  }

  .popup2{
    width: 525px;
    height: 380px;
    background-color: #388388;
    border: 1px solid #388388;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    left:600px;
    top: 620px;
    display: none;
  }

  .popup3{
    width: 525px;
    height: 380px;
    background-color: #4BBFBE;
    border: 1px solid #4BBFBE;
    border-radius: 30px;
    padding: 10px;
    position: fixed;
    left:600px;
    top: 620px;
    display: none;
  }

  #popupTitle{
    width: 510px;
    height: 50px;
    left: 600px;
    top: 620px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
  }
  #popupAddress{
    width: 505px;
    height:30px;
    left: 600px;
    top: 680px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  #popupBorough{
    width: 505px;
    height: 30px;
    left: 600px;
    top: 715px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
#popupMainPhone{
    width: 505px;
    height: 30px;
    left: 600px;
    top: 745px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;    
}
#popupDiscipline{
    width: 505px;
    height: 30px;
    left: 600px;
    top:775px;
    font-family: 'National Park ';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
button{
    position: fixed;
    width: 39px;
    height: 16px;
    left: 1047px;
    top: 1315px;
    background:#E66F51;
}
  
  