* {
    box-sizing: border-box;
  }

body {
    position: relative;
    font-family: 'National Park', sans-serif;
    width: 1728px;
    height: 1450px;
    background: #8AB07D;
}
    .a_sunny {
        position: absolute;
        width: 1800px;
        height: 250px;
        left: 0px;
        top: 242px;
        font-family: 'National Park', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 236px;
        text-align: center;
        color: #FFFFFF;  
    }
    .sunday_in {
        position: absolute;
        width: 1800px;
        height: 250px;
        left: 9px;
        top: 453px;
        font-family: 'National Park', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 250px;
        text-align: center;
        color: #FFFFFF;
    }
    .the_city {
        position: absolute;
        width: 1800px;
        height: 250px;
        left: 0px;
        top: 669px;
        font-family: 'National Park', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 250px;
        text-align: center;
        color: #FFFFFF;   
    }
    .or_rainy {
        position: absolute;
        width: 1800px;
        height: 200px;
        left: -2px;
        top: 880px;
        font-family: 'National Park', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 113px;
        text-align: center;
        color: #FFFFFF;

    }
    .heading {
        position: absolute;
        width: 1429px;
        height: 177px;
        left: 43px;
        top: 10px;
        font-family: 'National Park', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 76px;
        color: #FFFFFF; 
    }
    .lower_heading {
        position: absolute;
        width: 745px;
        height: 63px;
        left: 53px;
        top: 100px;
        font-family: 'Kulim Park';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        color: #FFFFFF;
    }
    .nyclogo {
        position: absolute;
        width: 350px;
        height: 330px;
        left: 1394px;
        top: 10px;  
    }
    .rainbow {
        position: absolute;
        width: 434px;
        height: 215px;
        left: 170px;
        top: 1090px;
    }
    .pizza {
        position: absolute;
        width: 515px;
        height: 500px;
        left: 622px;
        top: 1000px;
    }
    .photographytitle{
        position: absolute;
        width: 355px;
        height: 265px;
        left: 1092px;
        top: 1057px;
    }

    .photography{
        position: absolute;
        width: 365px;
        height: 275px;
        left: 90px;
        top: 290px;
    }

    .visualart{
        position: absolute;
        width: 357px;
        height: 366px;
        left: 467px;
        top: 260px;
    }
    .science{
        position: absolute;
        width: 366px;
        height: 395px;
        left: 90px;
        top: 610px;
    }
    .music{
        position: absolute;
        width: 330px;
        height: 300px;
        left: 495px;
        top: 640px;
    }
    .literature{
        position: absolute;
        width: 375px;
        height: 310px;
        left: 865px;
        top: 755px;
    }
    .theater{
        position: absolute;
        width: 445px;
        height: 385px;
        left: 843px;
        top: 320px;
    }
    .museums{
        position: absolute;
        width: 324px;
        height: 260px;
        left: 1300px;
        top: 358px;
    }
    .dance{
        position: absolute;
        width: 275px;
        height: 435px;
        left: 1327px;
        top: 645px;
    }

    .popup {
        background-image: url(photography.jpg);
        width: 300px;
        height: 200px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }

    
   
