* {
    box-sizing: border-box;
  }

body {
    position: relative;
    font-family: 'National Park', sans-serif;
    width: 1728px;
    height: 1450px;
    background: #8AB07D;
}
    .a_sunny {
        position: absolute;
        width: 1728px;
        height: 218px;
        left: 0px;
        top: 242px;
        font-family: 'National Park ';
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 236px;
        text-align: center;
        color: #FFFFFF;  
    }
    .sunday_in {
        position: absolute;
        width: 1728px;
        height: 234px;
        left: 9px;
        top: 453px;
        font-family: 'National Park ';
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 236px;
        text-align: center;
        color: #FFFFFF;
    }
    .the_city {
        position: absolute;
        width: 1728px;
        height: 226px;
        left: 0px;
        top: 669px;
        font-family: 'National Park ';
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 236px;
        text-align: center;
        color: #FFFFFF;   
    }
    .or_rainy {
        position: absolute;
        width: 1719px;
        height: 187px;
        left: -2px;
        top: 900px;
        font-family: 'National Park ';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 113px;
        text-align: center;
        color: #FFFFFF;

    }
    .heading {
        position: absolute;
        width: 1429px;
        height: 177px;
        left: 43px;
        top: 10px;
        font-family: 'National Park ';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 76px;
        color: #FFFFFF; 
    }
    .lower_heading {
        position: absolute;
        width: 745px;
        height: 63px;
        left: 53px;
        top: 100px;
        font-family: 'Kulim Park';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        color: #FFFFFF;
    }
    .nyclogo {
        position: absolute;
        width: 350px;
        height: 330px;
        left: 1394px;
        top: 10px;  
    }
    .rainbow {
        position: absolute;
        width: 300px;
        height: 100px;
        left: 170px;
        top: 1090px;
    }
    .pizza {
        position: absolute;
        width: 470px;
        height: 457px;
        left: 622px;
        top: 993px;
    }
    .photography{
        position: absolute;
        width: 320px;
        height: 240px;
        left: 1183px;
        top: 1038px;
    }
   
